body {
  
   margin: 0;
   padding: 0; 
   font-family:  Microsoft YaHei;
}
.backGround {
   width: 1980px;
   height: 380px;
   float: left;
   background-color: #DDCDAC;
   /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDCDAC), to(#fff));*/
}
.content {
	position: absolute;
    left: 510px;
    width: 960px;
    height: 635px;
}
.top {
	float: left;
	height: 73px;
	width: 960px;
	background-color: #DDCDAC;
}
#wordE {
	float: left;
	height: 51px;
	width: 155px;
	padding-top: 22px;
	color: #171717;
	font-size:28px;
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#DDCDAC), to(#fff));
}
#logo {
	float: right;
	width: 250px;
	height: 33px;
	margin-top: 22px;
	background-color: #DDCDAC;
}
#logo1,
#logo2,
#logo3,
#logo4 {
    float: right;
    width: 33px;
    height: 33px;
    margin-right: 6px;
}
#wordF {
	float: left;
	width: 90px;
	height: 25px;
	padding-top: 8px;
	color: #131313;
	font-size: 15px;
}
#two {
	float: left;
	width: 150px;
	height: 33px;
	margin-top: 22px;
	margin-left: 245px;
}
#buttonA,
#buttonB {
	height: 33px;
	width: 73px;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 33px;
    background-color: #1B1B1B;
}
#buttonA{float: left;}
#buttonB {float: right;}
#buttonA:hover,
#buttonB:hover{background-color: #8F3232;}	

.nav {
	float: left;
	height: 48px;
	width: 960px;
	background-color: #fff;
}
.nav > ul {
	float: left;
	width: 960px;
	height: 30px;
	margin-top:8px;
	padding:0;
	margin-left: 20px;
	list-style: none;
}
.nav > ul > li {
	float: left;
	height: 30px;
	width: 150px;
	margin-left: 2px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	background-color: #202020;
}
.nav > ul > li > a {
	color: #fff;
	text-decoration:none;
}
.nav > ul > li > ul {display:none;}
.nav > ul > li:hover ul{
	 display: block;
	 position: absolute;
	 left: 174px;
	 top: 110px;
	 width: 150px;
	 height: 234px;
	 padding: 0px;
	 border-radius: 5px;
	 list-style-type: none;
	 background-color: #202020;
}
.nav > ul > li:hover ul > li {
     width: 150px;
     height: 33px;
     float: left;
     text-align: center;
     line-height: 33px;
     font-size: 10px;
     color: #fff;
}
.nav > ul > li:hover ul > li:hover {
     border-bottom: 1px solid #fff;
     background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#202020), to(#fff));
}
.nav > ul > li > ul > li > a {
	text-decoration: none;
	color: #fff;
}
.nav > ul > li:hover ul > li ul {display: none;}
.nav > ul > li:hover ul > li:hover ul {
	display: block;
	position: absolute;
	left: 123px;
	top: 20px;
	width: 110px;
	height: 100px;
	padding: 0px;
	list-style-type: none;
	background-color: #202020;
}
.nav > ul > li:hover ul > li:hover ul > li{
	width: 110px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 10px;
	color: #fff;
}
.photo {
	float: left;
	height: 405px;
	width: 960px;
	background-image: url(01.jpg);
}
#round,
#roundA,
#roundB {
	float: right;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border:1px solid #fff;
	margin-top: 380px;
	margin-right: 10px;
	background-color: #A47E53;
}
#round:hover,
#roundA:hover,
#roundB:hover {background-color: #EBE2CE;}
#round:active,
#roundA:active,
#roundB:active {background-color: #fff;}
.foot {
	float: left;
	height: 93px;
	width: 960px;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #8D3030;
}
.wordF {
	float: left;
	width: 680px;
	height: 50px;
	margin-left: 35px;
	margin-top: 20px;
}
.wordF > p {
	float: left;
	height: 15px;
	width: 680px;
	margin-top: 1px;
    color: #fff;
    font-size: 13px;
}
#button {
	float: right;
	width: 210px;
	height: 40px;
	margin-right: 22px;
	margin-top: 27px;
	border-radius: 5px;
	background-color:#490505; 
}
#wordA {
	float: left;
	width: 120px;
	height: 20px;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 13px;
	color: #fff;
}
#bod {
	float: left;
	width: 10px;
	height: 10px;
	margin-top: 12px;
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	transform:rotate(45deg);
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:31px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont {
	color:#1E1F1F ;
    background-color: #D7C4A0;
}
.iconfont:hover {
    color: #8F3232;
}